<head>
    <meta charset="UTF-8">
    <title>Ejemplo SpringBoot JPA</title>
</head>
<header th:fragment="site-header">
    <h1> Sistema de Control Académico</h1>
    <nav>
        <ul>
            <li><a href="http://localhost:8080/alumno/index">Registrar Alumnos</a></li>
            <li><a th:href="@{/docente/index}">Registrar Docente</a></li>
            <li><a th:href="@{/curso/index}">Registrar Curso</a></li>
            <li><a th:href="@{/nota/index}">Registrar Nota</a></li>
        </ul>
    </nav>
</header>