<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo Spring Boot - JPA</title>
</head>
<body>
<h1>Listado de Docentes</h1>
<div>
    <ul>
        <li><a th:href="@{/docente/nuevo}">Agregar Docente</a></li>
        <li><a th:href="@{/}">Cerrar</a></li>
    </ul>
</div>
<div>
    <table id="listadoDocente" border="1">
        <thead>
            <tr>
                <td>Apellidos</td>
                <td>Nombres</td>
                <td>DNI</td>
                <td>Celular</td>
                <td>eMail</td>
                <td>Especialidad</td>
                <td>Fecha ingreso</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
        
        </thead>
        <tbody>
            <tr th:each="docente : ${listaDocentes}">
                <td th:text="${docente.apellidos}">Apellidos</td>
                <td th:text="${docente.nombres}">Nombres</td>
                <td th:text="${docente.dni}">DNI</td>
                <td th:text="${docente.celular}">Celular</td>
                <td th:text="${docente.eMail}">eMail</td>
                <td th:text="${docente.especialidad}">Especialidad</td>
                <td th:text="${#calendars.format(docente.fechaIngreso,'dd/MM/yyyy')}">Fecha ingreso</td>
                <td th:text="${/docente/editar/}+${docente.id}">Editar</td>
                <td th:text="${/docente/eliminar/}+${docente.id}">Eliminar</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <li><a th:href="@{/docente/nuevo}">Agregar Docente</a></li>
    <li><a th:href="@{/}">Cerrar</a></li>
</div>

</body>
</html>