<html>
    <head th:replace="~{_frag/Base::site-head}"></head>
<body>
    <header th:replace="~{_frag/Base::site-header}"></header>
    <article class="container mt-3 p-0">
        <div class="text-center bg-light p-5 rounded">
            <img th:src="@{/images/icono-app.png}" width="750" height="731" class="img img-fluid mx-auto" alt="">
            <h1 class="mt-4 pt-4 text-success">Bienvenidos a SpringBoot con JPA</h1>
            <p class="lead">Ejemplo de Aplicacion WEB-MVC con Spring Boot, Spring Data JPA, Spring Security, PostgreSQL y Bootstrap</p>
        </div>
    </article>
</body>
</html>